/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-aol-gray;
}

@layer components {
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.col {
		display: flex;
		flex-direction: column;
	}

	.row {
		display: flex;
		flex-direction: row;
	}
}
